<app-header></app-header>
<body>
  <div class="container">
    <div class="menu">
      <button class="game-type" (click)="setActiveGameType('timed')" id="timed-game-type">timed</button>
      <button class="game-type" (click)="setActiveGameType('words')" id="words-game-type">words</button>
      <button class="game-type" (click)="setActiveGameType('quotes')" id="quotes-game-type">quotes</button>
      <span class="break">|</span>
      <button class="option" (click)="option1_clicked()" id="option1">{{option1}}</button>
      <button class="option" (click)="option2_clicked()" id="option2">{{option2}}</button>
      <button class="option" (click)="option3_clicked()" id="option3">{{option3}}</button>
      <button class="option" (click)="option4_clicked()" id="option4">{{option4}}</button>
    </div>

    <p class="timer" id="timer">{{timer | number: '.1-1'}}</p>

    <div class="main-text-active" (focus)="onFocus()" (blur)="onBlur()" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-gramm="false" data-gramm_editor="false" data-enable-grammarly="false" contenteditable="true" id="main-text" (click)="textClicked()" (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)" autofocus="autofocus">
      <span *ngFor="let letter of currentText;" [ngClass]="{'letter': letter.status == 0, 'letter-correct': letter.status == 1, 'letter-incorrect': letter.status == 2, 'letter-blurred': letter.status == 3}">{{letter.character}}</span>
    </div>

    <div class="analysis-hide" id="analysis">
      <div>wpm: {{WPM | number: '.2-2'}} | accuracy: {{accuracy | number: '.2-2'}}</div>
      <button class="restart-button" (click)="restart()">restart</button>
    </div>
  </div>

  <div [class.caps-lock-container-show]="isCapsLockOn" [class.caps-lock-container-hide]="!isCapsLockOn" id="caps-lock-container">
    <p class="caps-lock">Caps Lock</p>
  </div>

  <div class="information">
    <p>Currently having some timer and typing issues on certain devices</p>
    <p>If you are having issues such as the text not updating or repeated letters on input, please send an email</p>
    <p>to <a href="mailto:misyutinvictor@gmail.com" class="my-email-link">misyutinvictor&#64;gmail.com</a> with your issue and the name of the device you are on. Thank you for your patience.</p>
  </div>
</body>
<app-footer></app-footer>
