.container{
    margin: 5% auto;
    width: 60%;
    font-size: x-large;
}
.menu{
    background-color: #3a3a3a;
    margin: auto;
    width: 430px;
    border-radius: 5px;
    margin-bottom: 10%;
    text-align: center;
}
.game-type{
    font-size: 17px;
    border: none;
    background: none;
    color: gray;
    cursor: pointer;
    margin-bottom: 8px;
}
.game-type:hover{
    color: #cacaca;
}
.option{
    font-size: 17px;
    border: none;
    background: none;
    color: gray;
    cursor: pointer;
    margin-bottom: 8px;
}
.active-select{
    font-size: 17px;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 8px;
    color: #cacaca;
}
.break{
    height: 2px;
    padding: 2px;
    font-size: 23px;
}
.label{
    font-size: 17px;
}
.timer{
    margin-left: 10%;
    margin-bottom: 5px;
}
.timer-hide{
    display: none;
}
.main-text-active {
    text-align: left;
    margin: 0 5%;
    line-height: 40px;
    outline: 0px solid transparent; 
    caret-color: #bb08bb;
    caret-shape: block;
}
.main-text-blur {
    text-align: center;
    font-size: 35px;
    padding: 40px 0;
}
.main-text-blur:hover{
    cursor: pointer;
}
.main-text-hide{
    display: none;
}
.letter {
    color: #757575;
}

.letter-correct{
    color: #cacaca;
}

.letter-incorrect{
    color: rgb(168, 49, 49);
}
.letter-blurred{
    color: rgb(204, 204, 204);
    /* text-shadow: 0 0 5px rgb(204, 204, 204); */
}
.analysis-hide{
    display: none;
}

.analysis{
    text-align: center;
}
.restart-button{
    background-color: #252424;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #757575;
}
.restart-button:hover{
    cursor: pointer;
}
.caps-lock-container-show{
    display: flex;
    align-items: center;
    justify-content: center;
}
.caps-lock-container-hide{
    display: none;
}
.caps-lock{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: yellow;
    width: 8vw;
    height: 3vw;
    color:black;
    border: 2px red solid;
}
.information{
    margin-top: 60px;
    text-align: center;
    color:rgb(224, 219, 219);
}
.my-email-link{
    text-decoration: none;
    color: rgb(17, 159, 159);
}
.my-email-link:hover{
    text-decoration: underline;
}
@media screen and (max-width:650px){
    .menu{
        width: 220px;
    }
    .break{
        display: none;
    }
    .container .timer{
        margin: 0;
        text-align: center;
    }
    .container .main-text {
        text-align: center;
    }
    .information{
        margin: 0 10%;
    }
}