.container{
    margin: 15% auto;
    width: 65%;
    font-size: x-large;
    text-align: left;
}
.timer{
    /* margin: 0; */
    margin-left: 20px;
    margin-bottom: 5px;
}
.container .main-text {
    line-height: 40px;
    outline: 0px solid transparent; 
    caret-color: yellow;
    caret-shape: block;
}

.container .main-text .letter {
    color: #757575;
}

.container .main-text .letter-correct{
    color: #cacaca;
}

.container .main-text .letter-incorrect{
    color: rgb(168, 49, 49);
}