body{
    background-color: rgb(54, 54, 54);
}
.header{
    display: flex;
    padding: 20px 40px;
}
.title{
    margin: 0 auto;
    font-family: 'great-reaper';
    /* font-family: 'gothicdawn'; */
    letter-spacing: 3px;
    font-size: 80px;
    color: black;
    text-align: center;
    width: auto;
}
.title:hover{
    cursor: pointer;
}
.products{
    margin: 50px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.product{
    height:260px;
    min-width: 100px
}
.product-photo{
    border-radius: 5px;
    height: 280px;
    background-color: white;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
}
.product-photo:hover{
    cursor: pointer;
}
.product-title{
    float: left;
}
.product-price{
    float: right;
}

@media screen and (max-width: 1450px) {
    .products{
        margin: 50px 20%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 100px;
    }

    .product{
        background-color: rgb(126, 126, 126);
        height:300px;
        min-width: 100px
    }

    @media screen and (max-width: 1050px) {
        .products{
            display: block;
        }
        
        .product{
            background-color: rgb(126, 126, 126);
            height:300px;
            min-width: 100px;
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
}