/* body{
    background-color: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(143,143,143,1) 50%, rgba(44,44,44,1) 100%);
}
.photo-container{
    display: block;
    margin: 20px auto;
}
.product-photo{
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    width: 500px;
    height: 600px;
}
.bottom-part{
    margin: 0 20%;
    display: block;
    margin-bottom: 50px;
}
.bottom-center-bold{
    text-align: center;
    font-weight: bold;
}
.add-to-cart-button {
    display: block;
    margin: 0 auto;
    height:33px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    margin-bottom: 15px;
    font-family: 'great-reaper';
    letter-spacing: 3px;
    font-size: 22px;
    padding: 5px;
    padding-left: 8px;
    transition: all 1s linear;

}
.add-to-cart-button:hover, .add-to-cart-button:focus{
    cursor: pointer;
    color: red;
    transform: translateY(20px) scale(1.1);
}
@media screen and (max-width: 1450px) {
    .product-photo{
        border-radius: 5px;
        background-color: white;
        margin: 0 auto;
        width: 400px;
        height: 500px;
    }
    @media screen and (max-width: 800px) {
        .product-photo{
            border-radius: 5px;
            background-color: white;
            margin: 0 auto;
            width: 300px;
            height: 400px;
        }
    }
} */
/* D9D9D9 */
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left-part {
    border: 2px black solid;
    height: 100vh;
    display: flex; /* Added */
    justify-content: center; /* Horizontally centers the image */
    align-items: center; /* Vertically centers the image */
}
.image-container{
    background-color: #D9D9D9;
    padding: 10px;
}
.product-photo {
    width: 607px;
    height: 607px;
    /* margin: 0 auto; -- Removed this line as it's no longer needed */
}

.right-part {
    border: 2px red solid;
    height: 100vh;
}
