<body>
    <div class="header">
        <h2 class="title" [routerLink]="['/thirdwardarchive']">third ward archive</h2>
    </div>

    <!-- sigle product display -->
    <!-- thirdwardarchive-merch-detail.component.html -->
    <div *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Image from Flask">
    </div>
    <div *ngIf="!imageUrl">
        Loading image...
    </div>
    
    <div class="bottom-part">
        <div class="description">
            <h2 style="margin-left: 30px;">{{title}} | {{price}}</h2>
            <p>{{description}}</p>
        </div>
        <div class="materials">
            {{materials}}
        </div>
    </div>
</body>