<body>
    <app-twa-header></app-twa-header>

    <app-twa-back-arrow></app-twa-back-arrow>

    <div *ngFor="let imageUrl of imageUrls" class="photo-container">
        <img [src]="imageUrl" class="product-photo">
    </div>
    
    <div class="bottom-part">
        <h2 class="bottom-center-bold">{{title}}</h2>
        <h3 class="bottom-center-bold">${{price}}</h3>
        <div class="description">
            <p>{{description}}</p>
            <p>{{materials}}</p>
        </div>
        <button class="add-to-cart-button" (click)="addToCart()">add to cart</button>
    </div>
</body>