<footer>
    <div class="main">
        <a [routerLink]="['/']"><h2 class="logo">vicmis</h2></a>
        <div class="pages">
            <div class="column">
                <p><a [routerLink]="['/projects']">projects</a></p>
                <p><a [routerLink]="['/projects/sudoku']">sudoku</a></p>
                <p><a [routerLink]="['/projects/typing']">typing</a></p>
                <p><a [routerLink]="['/projects/collision']">collision resolution</a></p>
                <p><a [routerLink]="['/projects/space-invaders']">space invaders</a></p>
                <p><a [routerLink]="['/projects/connections']">connections</a></p>
            </div>
            <div class="column">
                <p><a [routerLink]="['/docs']">documentation</a></p>
                <p><a [routerLink]="['/docs/nba']">NBA</a></p>
                <p><a [routerLink]="['/docs/cbb']">CBB</a></p>
                <p><a [routerLink]="['/docs/mlb']">MLB</a></p>
                <p><a [routerLink]="['/docs/pga']">PGA</a></p>
                <p><a [routerLink]="['/docs/soccer']">Soccer</a></p>
            </div>
            <div class="column">
                <p><a [routerLink]="['/contact']">contact</a></p>
                <p><a href="https://www.linkedin.com/in/victor-misyutin/" target="_blank">linkedin</a></p>
                <p><a href="https://github.com/VictorMisyutin" target="_blank">github</a></p>
            </div>
        </div>
    </div>
    <p class="copywrite">&copy; 2024 vicmis All rights reserved.</p>
</footer>