<app-header></app-header>
<body>
    <div class="subheader">
        <p class="date">August 4th, 2024</p>
        <div class="title">An Introduction to Vim for Beginners</div>
        <p class="author">Victor Misyutin</p>
        <hr>
    </div>

    <div class="content">
        <p>
            My first introduction to terminal text editors was using Nano to help set up my Ubuntu EC2 intance.
            The only reason I used Nano was because that was the text editor that the guy in the video was using.
        </p>
        <p>
            It wasn't until about a month later that I even knew there were alternative to Nano. Mainly, Vim.
        </p>
        <p>
            However, I never wanted to use Vim because unlike Nano, it seemed far more complex and difficult to use. I remember the first
            time I tried to use Vim instead of Nano I could not even figure out how to write to the file. For that reason I used nano for 
            about four months.
        </p>
        <p>
            Then I watched some random YouTube video where some guy was using Vim and was literally making magic on my screen. He knew like
            every shortcut and command and made Vim look extremly powerful. Many of those commands and shortcuts are not even possible
            using Nano.
        </p>
        <p>
            Then I started learning Vim and haven't looked back.
        </p>
        <h2 class="section-title">What is Vim</h2>
        <p>
            Vim and Nano are both in-terminal text editors. Since they are terminal based that means that you can only interact with
            them using your keyboard, no mouse inputs. This is quite annoying but they are very useful when you SSH onto another system
            and edit and read files on that system. 
        </p>
        <!-- add more to 'What is Vim' section? -->
        <h2 class="section-title">Vim Modes</h2>
        <p>
            When you are using Vim, there are multiple modes that you have to navigate between.
        </p>


        

        <!-- 
        Eventually, make a 2 by X table where the left column is the command
        and the right column is what it does. Grab that info from the legal pad
        and also any other site.
         -->

    </div>

    
</body>

<app-footer></app-footer>