body{
    margin: 4vh 25%;
    color: white;
}
.title{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}
.subheader{
    margin-bottom: 20px;
}
.subtitle{
    font-size: 20px;
}
/* .date{
    color: black;
} */
.author{
    font-size: 23px;
}
.content{
    font-size: 17px;
}
.section-title{
    font-size: 25px;
}