.hero {
    /* text-align: center;
    padding: 20px 0;
    font-size: large;
    background-color: #436850;
    color: #e0e0d1;
    border-radius: 30px; */
    text-align: center;
    font-size:x-large;
}

.features {
    justify-content: space-around;
}

.feature {
    text-align: center;
    padding: 0 7%;
}

.documentation,
.pricing,
.contact {
    text-align: center;
    padding: 50px 0;
}
