
<main class="main">
    <body>
      <header>
          <div class="logo"><a href="">vicmis</a></div>
          <nav class="menu">
              <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="#">Documentation</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </nav>
          <nav>
              <ul>
                  <li><a href="https://www.linkedin.com/in/victor-misyutin/" target="_blank">LinkedIn</a></li>
                  <li><a href="https://github.com/VictorMisyutin" target="_blank">GitHub</a></li>
              </ul>
          </nav>
      </header>
  
      <section class="hero">
          <h1>Welcome to vicmis API</h1>
          <p>Empower Your Applications with Seamless Data Integration</p>
      </section>
  
      <section class="features">
          <div class="feature">
              <h2>This is filler text</h2> <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi enim, vulputate ut orci at, sollicitudin sagittis magna. Proin libero eros, tempus sed vulputate et, sagittis a tortor. Nulla non dapibus nisi. Nam arcu eros, lobortis sit amet convallis eget, feugiat vitae nisi. Cras feugiat lectus vitae tortor luctus iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id velit metus. In vulputate molestie turpis pharetra fringilla. Fusce molestie justo ut nibh semper pretium. Donec gravida blandit laoreet. Duis varius ultricies aliquam. Praesent eget pulvinar urna, vel ultrices elit. Nullam bibendum efficitur orci et accumsan. Vestibulum placerat lacus non est porttitor, at feugiat turpis pretium.
                  <br><br>
                  Aliquam erat volutpat. Phasellus sapien urna, dapibus at finibus sit amet, vehicula id nibh. Sed dui tellus, cursus non purus ut, mattis fermentum massa. Mauris quam libero, iaculis sit amet venenatis vel, vulputate non est. Cras aliquam turpis magna, ut sollicitudin est imperdiet et. Fusce aliquam dolor sed congue cursus. Ut et gravida neque, id fermentum lectus. Pellentesque sed urna leo. Donec iaculis lectus sit amet diam pharetra, non posuere turpis feugiat. Nullam hendrerit et magna vitae auctor. Donec mauris libero, tincidunt a feugiat sed, pellentesque et mauris. Cras ac dui molestie, fringilla tortor nec, aliquam metus. Vestibulum viverra dignissim turpis sodales rutrum. Sed augue ipsum, eleifend a elit ac, lobortis condimentum justo.
                  <br><br>
                  Donec venenatis finibus est sit amet imperdiet. Suspendisse blandit sed nulla vel consequat. Vestibulum a sapien pretium, interdum leo nec, viverra mi. Vivamus porttitor, libero vitae sagittis bibendum, mi lacus tincidunt dolor, quis condimentum nisl est non nulla. Curabitur vestibulum porttitor tellus, laoreet finibus orci vehicula id. Mauris lorem orci, dictum vitae justo a, tristique convallis nibh. In a felis hendrerit, tempor libero a, placerat arcu. Phasellus mattis ex sed pellentesque pretium.</p>
          </div>
          <!-- Add more feature blocks here -->
      </section>
  
      <!-- <section class="documentation">
          <h2>Comprehensive Documentation</h2>
          <p>Dive into our extensive documentation to understand how to integrate vicmis API into your applications seamlessly.</p>
      </section>
  
      <section class="pricing">
          <h2>Flexible Pricing Plans</h2>
          <p>Choose a pricing plan that suits your business needs. We offer scalable options for businesses of all sizes.</p>
      </section>
  
      <section class="contact">
          <h2>Get in Touch</h2>
          <p>Have questions or need assistance? Our team is here to help. Reach out to us for personalized support.</p>
      </section> -->
  
      <footer>
          <p>&copy; 2024 vicmis. All rights reserved.</p>
          <!-- Add social media icons here -->
      </footer>
    </body>
  </main>
  