<app-header></app-header>
<body>
    <h1>CS 409 - The Art of Web Development</h1>
    <h3>
        The goal of the course is to teach full stack development. The stack we use is React, Node, and MongoDB (noSQL).
        According to the course website the topics that will be covered are the building blocks of the Web 
        (HTML, CSS, the Document Object Model, JavaScript) and data exchange (HTTP, JSON, RESTful APIs, and SQL/NoSQL databases).
    </h3>
    <p class="note">Note: MP stands for Machine Problem.</p>
    <div class="sites">
        <p><a href="https://cs409-mp0-9473ba.gitlab.io/" target="_blank">mp0</a></p>
        <p><a href="https://cs409-mp1-c41851.gitlab.io/" target="_blank">mp1</a></p>
        <p><a href="https://cs409-mp2-a15bd0.gitlab.io/" target="_blank">mp2</a></p>
        <p><a href="" target="_blank">mp3</a></p>
        <p><a href="" target="_blank">Midterm</a></p>
        <p><a href="" target="_blank">Final</a></p>
    </div>
</body>
<app-footer></app-footer>