<!-- <header>
    <div class="logo" id="logo"><a href="">vicmis</a></div>
    <nav class="menu" id="menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>  
    <nav class="social-links">
        <ul>
            <li><a href="https://www.linkedin.com/in/victor-misyutin/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/VictorMisyutin" target="_blank">GitHub</a></li>
        </ul>
    </nav>
</header> -->
<div class="header">
    <a href="/" class="logo">vicmis</a>
    <div class="header-right">
        <a class="nav-link" [routerLink]="['/projects']" [routerLinkActive]="['active']">projects</a>
        <a class="nav-link" [routerLink]="['/docs']" [routerLinkActive]="['active']">documentation</a>
        <a class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="['active']">contact</a>
    </div>
  </div>


    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Home</a>
        <a class="nav-link" [routerLink]="['/projects']" [routerLinkActive]="['active']">Links</a>
        <a class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="['active']">Search</a>
    </nav> -->

