* {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #e0e0d1;
}

header {
    margin: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #12372A;
    /* background: linear-gradient(to bottom, #12372A 0%, #1c5541 100%); */
}

.logo a{
    font-size: 35px;
    font-weight: bold;
    /* letter-spacing: 4px; */
}

.logo a:hover {
    color: #a5a599;
}

.menu{
    text-align: center;
    margin-left: 185px; /* Adjust if main menu is off center */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px 20px;
    font-size: 17px;
    background-color: #436850;
    border-radius: 20px;
}
nav ul li:hover {
    background-color: #2c4635;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .social-links{
        display: none;
    }
    @media (max-width: 900px) {
        .menu{
            display:none;
            margin: 0; 
        }
        .logo{
            text-align: center;
            margin: auto;
        }
    }
}
