/* start of formal mode */
.formal-mode {  
  background-color: #4b4b4b;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.formal-mode a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  color: white;
}
.formal-mode a.logo {
  float: left;
  margin-left: 3%;
  font-size: 23px;
  color: white;
}
.formal-mode .header-middle{
  margin-left: 270px;
  margin-top: 5px;

}
.formal-mode .header-middle button{
  background-color: #6b6b6b;
  padding: 10px;
  border-radius: 20px;
}
.formal-mode .header-middle button:hover{
  cursor: pointer;
  background-color: #838383;
}
.formal-mode .header-middle button p{
  margin: 0;
}
.formal-mode a:hover, a:focus {
  /* color: black; */
  text-shadow: 0 0 15px white;
}
.formal-mode .active{
  /* color: black; */
  text-shadow: 0 0 15px white;
}
.formal-mode-right {
  float: right;
}
@media screen and (max-width: 750px) {
  .formal-mode{
      flex-direction: column;
      display: flex;
  }
  .formal-mode a {
      display:block;
      float: none;
      text-align: left;
  }
  .formal-mode a.logo {
      text-align: center;
      font-size: 35px;
      margin: 0;
      margin-bottom: 10px;
  }
  .formal-mode .header-right {
      float: none;
  }
}

/* start of informal mode */
.informal-mode{
  position:fixed;
}
.informal-mode .folder-container{
  margin-left: 20px;
  width: 80px;
}
.informal-mode .image-container{
  display: flex;
  justify-content: center;
}
.informal-mode .folder-image{
  max-width: 55px;
}
.informal-mode .folder-image:hover{
  cursor: pointer;
  content: url('/assets/home-page-icons/Folder Open.ico');
}
.informal-mode .active img{
  content: url('/assets/home-page-icons/Folder Open.ico');
}
.informal-mode .folder-title{
  margin-top: 0;
  font-family: 'pixel-arial';
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: -6px;
}