<app-header></app-header>
<body>
    <div class="menu">
        <p>Size of array</p>
        <input type="text" id="sizeInput">
        <p>(10 - 30)</p>
        <button (click)="updateSize()">update</button>
        <button (click)="bubbleSort()">sort</button>
    </div>
    <div class="center-container">
        <div class="rectangle-container">
            <div *ngFor="let rectangle of rectangles"
                 [style.height.px]="rectangle.height"
                 [style.width.px]="1000 / size"
                 [class.blue]="rectangle.color === 'blue'"
                 [class.yellow]="rectangle.color === 'yellow'"
                 [class.green]="rectangle.color === 'green'"
                 class="rectangle">
                <span class="height-text">{{ rectangle.height }}</span>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>