<app-header></app-header>

<body>
    <h1>SOCCER API DOCUMENTATION</h1><hr>
    <main>
        <section class="row">
            <section class="section">
                <a href="http://vicmis.com/api/soccer/get-player/Charley Hoffman">vicmis.com/api/soccer/get-player/&lt;player name&gt;</a>
                <p class="link-desc"> Query the "SOCCER" CSV for specific player. Returns<br><strong>Shots, Goals, Interceptions, Clearences, Tackles, Fouls</strong>.</p>
            </section>
            <section class="section">
                <a href="http://vicmis.com/api/soccer/all-players">vicmis.com/api/soccer/all-players</a>
                <p class="link-desc"> Query the "SOCCER" CSV for all players.<br>Returns <strong>Strokes</strong>.</p>
            </section>
        </section>
    </main>
</body>

<app-footer></app-footer>