<head>
    <!-- <link href="styles.css" rel="stylesheet"> -->
    <!-- <link href="/app/pages/blog/posts/posts.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/app/pages/blog/posts/posts.css">
</head>
<app-header></app-header>
<body>
    <div class="subheader">
        <p class="date">August 8th, 2024</p>
        <div class="title">My Experience With Linux and Windows</div>
        <p class="author">Victor Misyutin</p>
        <hr>
    </div>

    <div class="content">
        <p>
            For the past ten or so years, I have used only Windows machines. It was not until about four
            years ago that I discovered other operating systems and their cult-like followings.
        </p>
        <p>
            In high school, some of my friends began buying Macbooks, which introduced me to macOS. Unfortunately, since I have no desire to spend a fortune on a half-decent Mac, 
            I have not had much experience with it macOS.
        </p>
        <p>
            For that reason, I will mostly be talking about Windows and two different distributions of Linux, Ubuntu and Kali.
        </p>
        <h2 class="section-title">What is an Operating System</h2>
        <p>Before we continue, I want to briefly define what an operating system is.</p>
        <p>
            An <em>operating system</em> (or OS) is software that usually comes preinstalled on your computer and manages both the hardware and software components of your device. 
            It controls how you interact with your computer (your user interface) and what your computer does. Meaning that it controls your data/files, your peripherals (like a keyboard and monitor), your network connections,
            and every program you will use. In essence, it is what allows a person to use the physical components of a computer in an easily operated and useful manner.
        </p>
        <p>
            There are a plethora of different operating systems each with its strengths and weaknesses. Some of them are very similar, both in look and function. 
            While others have different interfaces and more specific use cases. For example, you can easily see a difference between the look of an Apple computer that 
            uses macOS and a Windows machine.
        </p>
        <p>
            Some of the most popular operating systems are Windows, macOS, Linux, iOS, Android (operating system), and chromeOS. Windows is by far the 
            most popular operating system on home and work computers, while Linux is most popular on web servers, cloud computing, routers, cars, smart fridges, and pretty much any other device.
        </p>
        <p>
            A lot of computer scientists have very strong opinions on which OS is the best, but the truth is, it depends. You should use the operating system that is best suited to your needs.
        </p>
        <h2 class="section-title">Windows</h2>
        <p>
            Windows is good for for general use and user customization which is why a lot of schools and businesses choose it. Also, since Windows is so popular,
            a lot of applications are designed to run on Windows. The cons of Windows is it's less secure than other operating systems, meaning it could be easier for
            a hacker to compromise your machine. Also, to use Windows you have to pay anywhere from $100 - $200 for an activation key/license.
        </p>
        <p>
            More on this later.
        </p>
        <h2 class="section-title">macOS</h2>
        <p>
            macOS is also great, the real beauty of macOS is that it has seamless integration with Apple's iOS devices and other Apple peripherals. It is far less popular 
            than Windows but has been slowly increasing in popularity. MacOS used to have a very limited selection of applications
            because most apps were designed for Windows machines. Since macOS started gaining popularity this is becoming less of
            an issue but there are still many services and applications that do not run on Macs. 
        </p>
        <p>
            However, the opposite is also true. Some programs run only on a Mac. Notably, Xcode. Xcode is an IDE that allows
            you to develop iOS apps using the "swift" programming language. Since Xcode is only available on macOS, if you want to develop an app for the iPhone, you need
            a Mac. Note that there are ways to develop iOS apps on other operating systems but they are inconvenient and less effective.
        </p>
        <p>
            The real issue with macOS is its high paywall. Unlike Windows, you cannot just buy an activation key and install an image of macOS
            on your computer. Apple very intentionally, requires you to buy an Apple machine to use macOS. In fact, in their <a class="link" target="_blank" href="https://www.apple.com/legal/sla/docs/macOSSonoma.pdf">macOS Software License Agreement</a>,
            they state that macOS must be used on "Apple-branded Systems". So if you want to try macOS you have to spend at least a couple hundred dollars on a new computer.
        </p>
        <p>
            I guess that kind of maybe makes sense but it still makes macOS less accessible. Macs tend to be more expensive than their counterpart, in part because you are 
            paying for the Apple brand and also partially because the Mac's price includes macOS. For that reason, it is hard to put an exact number on how much 
            macOS costs but not cheap. Pair that with Apple's tendency to make their products difficult to repair,
            unupgradable, and not customizable, it is quite hard in my opinion to justify its purchase.
        </p>
        <p>
            That being said, I have used a Mac before and they are nice to use. The UI is very sleek and with the new M1 chip, they are very powerful. Furthermore,
            macOS is a lot closer to Linux (which I enjoy) because they are both built on Unix. Also, most people that I know who have bought a Mac
            have not regretted their decision and stand by it. Maybe when I can spend $2000 - $5000 on a Mac, my opinion will change. 
        </p>
        <h2 class="section-title">What is Linux</h2>
        <p>
            Linux, although often referred to as an operating system is technically not an operating system. Linux is a group of many different operating systems that are all based on the open-source Linux kernel.
        </p>
        <p>
            The kernel is the most important part of an operating system. It is what allows programs to read and write to your computer's memory and storage as well as interact with other hardware components.
            The Linux kernel, developed by Linus Torvalds, is free and completely open-source which allows anyone to add to it, customize it, and create their own fully functioning operating system. 
        </p>
        <p>
            So, although they are all based on the same core and are very similar, different Linux-based operating systems have different specific functionalities. Each distinct Linux-based operating system is called a Linux distribution or distro for short.
        </p>
        <p>
            The most popular Linux distros are Debian, Ubuntu (which is based on Debian), Mint (which is based on Ubuntu), Fedora, Arch, and Kali (which is based on Debian). As you might tell, many
            distros are based on other distros.
        </p>
        <p>
            Ubuntu is extremely popular within servers, and most likely, if a server is not running on Ubuntu, it is running another distro that is based on Ubuntu.
            If you are trying to or are in the software/networking/computer/tech world, you will have to at one point or another interact with an Ubuntu system.
        </p>
        <p>
            Arch supposedly gives the user more freedom but I don't really know what that means. Fedora and mint are claimed by some to be more beginner-friendly but for most beginners,
            including me, the only difference between these is what cool image displays when you type "neofetch" in the terminal. 
        </p>
        <p>
            Kali, unlike the other distros, has a more specific use. It is typically not imaged directly onto a machine but instead used in conjunction with a virtual machine like VirtualBox.
            Kali is used mainly by ethical and not-so-ethical hackers to gain information about and infiltrate other systems. The reason Kali is used instead of other
            distros is because it comes preinstalled with tools that are useful for hacking.
        </p>
        <p>
            To be fair, unless you are a professional hacker, any other Linux distribution will do the trick. The reason I use Kali when I am trying to learn more about hacking
            is because I think it is common practice to use Kali, and if it's good enough for the pros it's good enough for me.
        </p>
        <h2 class="section-title">My experiences</h2>
        <p>
            I have Windows installed on my personal desktop computer and I absolutely love it. First, since I have been using Windows for so long, both
            on my computers at home and on my work and school computers, I am very familiar with both the user interface and the CLI (Command Line Interface).
        </p>
        <p>
            As I stated earlier, it is the perfect operating system for everyday standard use. The UI is very intuitive and beginner-friendly
            and there is very little that Windows can not do. 
        </p>
        <p>
            If you are on a Windows machine, you don't have to think about whether 
            you can install a certain program or use a certain application because almost everything was designed to be run on a Windows machine. 
        
        </p>
        <p>
            I use my personal computer for coding, school, games, movies, etc.
            and Windows is great for that. I have essentially no complaints about Windows. Yes, it is a little pricey but $150 
            is worth it in my opinion for Windows.
        </p>
        <p>
            That being said, I am a broke college student, which is what led me to try Linux on my machine.
        </p>
        <p>
            I imaged my laptop with Ubuntu about a year ago and I have enjoyed it thus far. But it is not intended for people who are new to computers.
            I say this because you need to use your CLI/terminal to install even simple applications like Google Chrome.
        </p>
        <p>
            Let's use Chrome as an example. To download chrome, you first have to navigate to the Chrome download page using Ubuntus's default browser (Firefox).
        </p>
        <p>
            Then you need to download the Ubuntu .deb file.
        </p>
        <p>
            cd into the directory where that file was downloaded (most likely the /Downloads folder)
        </p>
        <p>
            Then you should run
        </p>
        <code>
            sudo apt update
        </code>
        <p>
            and
        </p>
        <code>
            sudo apt upgrade
        </code>
        <p>
            Finally, run
        </p>
        <code>
            sudo apt install *NAME_OF_CHROME_DEB_FILE*
        </code>
        <p>
            (You can find the name of that file using ls while in the downloads directory).
        </p>
        <p>
            So obviously, more complex than the couple of clicks it would take on a Windows machine.
        </p>
        <p>
            However, coincidentally this is why I like Ubuntu so much.
        </p>
        <p>
            Instead of your machine doing everything for you, you actually have to go into your terminal to make stuff work.
        </p>
        <p>
            Furthermore, since most servers run on Ubuntu Linux (including the AWS EC2 instance I use to run this website), being 
            familiar with the Linux CLI is super beneficial.
        </p>
        <p>
            Now, when I SSH into my EC2 instance I actually know the commands, what they do, and how to properly navigate the Ubuntu CLI.
        </p>
        <p>
            Another advantage that Linux has over Windows is that Linux is lighter than Windows. Windows comes with a ton of
            preinstalled applications that nobody uses but still run in the background of your machine
            (this is often referred to as bloatware). Because of this, Windows requires a powerful system to run. You
            can't just grab a 12-year-old Thinkpad and install Windows 11 on it because more than likely, it would handle it poorly.
        </p>
        <p>
            On the other hand, you can do that with Linux and many people do. For example, my grandfather had a cheap 8-year-old computer that 
            he essentially just used for the news and Facebook. The only thing that we had installed on it was Chrome and the computer 
            was basically unusable. Chrome would take a few minutes to open and every page would buffer. After two or three open tabs the computer
            fan became audible from the next room over. We tried resetting the computer to fix these issues but it did not help very much.
        </p>
        <p>
            After a while, he decided to get a new computer and I took the old one since he had no use for it. I decided to turn it into 
            an experimental laptop and I installed Ubuntu on it. I have never seen it run so quickly. With Ubuntu, it runs just as good as 
            my primary laptop, the only issue being it has a shorter battery life.
        </p>
        <p>
            Anyyyways... That long anecdote as just to show how much lighter Liniux distros can be compared to Windows.
        </p>
        <p>
            Linux is also extremely customizable compared to Windows and Mac. Since the Linux kernel and most distros are open-source,
            you can literally customize your OS to anything. The only limit is your imagination and skill/perseverance.
        </p>
        <p>
            Although I have no experience with customizing my Linux distro I definitely will try in the future. Good examples of how
            some people customize their OS can be seen in 
            <a class="link" target="_blank" href="https://www.forbes.com/sites/jasonevangelho/2019/02/14/5-gorgeous-examples-of-truly-customized-linux-desktops/">this</a> 
            Forbes article.
        </p>
        <p>
            The last thing I want to mention about Linux is that it usually comes preinstalled with Nano and Vim which is super convenient. I 
            love using Vim so Ubuntu having it makes me like Ubuntu even more. It is possible to install Nano, Vim, and NeoVim on Windows but 
            those text editors were not made for Windows and it feels a bit like cheating.

        </p>
        <h2 class="section-title">The Wraps</h2>
        <p>
            This ended up being a lot longer than I thought it would be so let me wrap up my thoughts.
        </p>
        <p>
            Overall, I have really enjoyed both Ubuntu Linux and Windows. I still use Windows on my main Desktop because 
            Windows works great for my machine where I play games, stream moves, and do occasional coding. It is less customizable
            and more system-heavy than Linux but Windows does a lot of stuff for you which makes it easy to use
        </p>
        <p>
            Linux on the other hand, although it has a steeper learning curve, is more customizable, has a better CLI, and is lighter 
            on your system compared to the Windows operating system. All of these reasons make it better for programming which is why
            I use it on my school laptop where I do most of my coding. 
        </p>
        <p>
            Hopefully, in the future, I get more experience with MacOS, but for now, I think it is too little bang for too much buck.
        </p>
        <p>
            Thanks for reading.
        </p>
        
        
        
    </div>

    
</body>

<app-footer></app-footer>