<app-header></app-header>
<body>
    <div class="subheader">
        <p class="date">August 4th, 2024</p>
        <div class="title">My Experience With Linux and Windows</div>
        <p class="author">Victor Misyutin</p>
        <hr>
    </div>

    <div class="content">
        <!-- <div class="subtitle">An Introduction to Vim, some basic commands, and how to install Vim on a Windows machine.</div> -->
        <p>For the past ten or so years of my life I have been using only Windows machines. It was not until about four
            years ago that I discovered other operating systems and their cult like followings.
        </p>
        <p>
            In high school, some of my friends began buying Macbooks, which introduced me to macOS. Unfortunately, since I have no desire to spend a fortune on a half decent Mac, 
            I have not had much experience with it macOS.
        </p>
        <p>
            For that reason, I will mostly be talking about Windows and two different distributions of Linux, Ubuntu and Kali.
        </p>
        <h2 class="section-title">What is an Operating System</h2>
        <p>Before we continue, I want to briefly define what an operating system is.</p>
        <p>
            An <em>operating system</em> (or OS) is software that usually comes preinstalled on your computer and manages both the hardware and software components of your device. 
            It controls how you interact with your computer (your user interface) and what your computer actually does. Meaning, it controls your data/files, your peripherals (like a keyboard and monitor), your network connections,
            and every program you will use. In essence, it is what allows a person to use the physical components of a computer in an easily operated and useful manner.
        </p>
        <p>
            There are a plethora of different operating systems each with its own strengths and weaknesses. Some of them are very similar, both in look and function. 
            While others have different interfaces and more specific use cases. For example, you can easily see a difference between the look of an Apple computer that 
            uses macOS and a Windows machine.
        </p>
        <p>
            Some of the most popular operating systems are Windows, macOS, Linux, iOS, Android (operating system), and chromeOS. Windows is by far the 
            most popular operating system on home and work computers, while Linux is most popular on web servers, cloud computing, routers, cars, smart fridges, pretty much any other device.
        </p>
        <p>
            A lot of computer scientists have very strong opinions on which OS is the best, but the truth is, it depends. You should not stick to one operating system for everything.
            You should use the operating system that is the best for what you are trying to achieve. 
        </p>
        <h2 class="section-title">Windows</h2>
        <p>
            Windows is good for for general use and user customization which is why a lot of schools and buisnesses choose it. Also, since Windows is so popular,
            a lot of applications are designed to run on Windows. The cons of Windows is it's less secure than other operating systems, meaning it could be easier for
            a hacker to compromise your machine. Also, to use Windows you have to pay anywhere from $100 - $200 for an activation key/license.
        </p>
        <p>
            More on this later.
        </p>
        <h2 class="section-title">macOS</h2>
        <p>
            macOS is also great, the real beauty in macOS is that it has seamless integration with Apples iOS devices and other Apple peripherals. It is far less popular 
            than Windows but has been slowly increasing in popularity. MacOS used to have a very limited selection of applications
            because most apps were designed for Windows machines. Since macOS started gaining popularity this is becoming less of
            an issue but there are still many services and application that do not run on Macs. 
        </p>
        <p>
            However, the opposite is also true. There are some programs that run only on a Mac. Notably, Xcode. Xcode is an IDE that allows
            you to develop iOS apps using the "swift" programming language. Since Xcode is only available on macOS, if you want to develop an app for the iPhone, you need
            a Mac. Note that there are ways to develop iOS apps on other operating systems but they are inconvenient and less effective.
        </p>
        <p>
            The real issue with macOS is their high paywall. Unlike Windows, you cannot just buy an activation key and install an image of macOS
            on your computer. Apple very intentionally, requires you to buy an Apple machine to use macOS. In fact, in their <span class="link" href="https://www.apple.com/legal/sla/docs/macOSSonoma.pdf">macOS Software License Agreement</span>,
            they state that macOS must be used on "Apple-branded Systems". So if you want to try macOS you have to spend at least a couple hundred dollars on a new computer.
        </p>
        <p>
            I guess that kind of maybe makes sense but it still makes macOS less accessible. Macs tend to be more expensive than their counterpart, in part because you are 
            paying for the Apple brand and also partially because the Macs price includes macOS. For that reason, it is hard to put an exact number on how much 
            macOS costs but defintly not cheap. Pair that with Apples tendency to make their products difficult to repair,
            unupgradable, and uncustomizable, it is quiet hard in my opinion to justify its purchase.  
        </p>
        <p>
            That being said, I have used a Mac before and they are nice to use. The UI is very sleek and with the new M1 chip they are very powerful. Furthermore,
            macOS is a lot closer to Linux (which I enjoy) because they are both built on Unix. Also, most people that I know that have bought a Mac
            have not regreted their decision and actually stand by it. Maybe when I can spend $2000 - $5000 on a Mac, my opinion will change. 
        </p>
        <h2 class="section-title">What is Linux</h2>
        <p>
            Linux, although often refered to as an operating system is techinically not an operating system. Linux is group of many different operating systems that are all based on the open source Linux kernel.
        </p>
        <p>
            The kernel is the most important part of an operating system. It is what allows programs to read and write to your computers memory and storage as well as interact with other hardware components.
            The Linux kernel, developed by Linus Torvalds, is free and completly open source which allows anyone to add to it, customize it, and create their own fully functioning operating system. 
        </p>
        <p>
            So, although they are all based on the same core and are very similar, different Linux based operating systems have different specific functionalities. Each distinct Linux based operating system is called a Linux distribution or distro for short.
        </p>
        <p>
            The most popular Linux distros are Debian, Ubuntu (which is based on Debian), Mint (which is based on Ubuntu), Fedora, Arch, and Kali (which is based on Debian). As you might tell, many
            distros are based on other distros.
        </p>
        <p>
            Ubuntu is extremely popular within servers, and mostly likely, if a server is not running on Ubuntu, it is running another distro that is based on Ubuntu.
            If you are trying to or are in the software/networking/computer/tech world, you will have to at one point or another interact with an Ubuntu system.
        </p>
        <p>
            Arch supposedly gives the user more freedom but I don't really know what that means. Fedora and mint are claimed by some to be more beginner friendly but for most beginners,
            includnig me, the only difference between these is what cool image displays when you type "neofetch" in the terminal. 
        </p>
        <p>
            Kali, unlike the other distros has a more specific use. It is typically not imaged directly onto a machine but instead used in conjunction with a virtual machine like VirtualBox.
            Kali is used mainly by ethical and not so ethical hackers to gain information about and infeltrate other systems. The reason Kali is used instead of others
            distros is because it comes preinstalled with tools that are useful for hacking.
        </p>
        <p>
            To be fair, unless you are a professional hacker, any other linux distrobution will do the trick. The reason I use Kali when I am trying to learn more about hacking
            is because I think it is common practice to use Kali, and if it's good enough for the pros it's good enough for me.
        </p>
        <h2 class="section-title">My experiences</h2>
        <p>
            I have Windows installed on my personal desktop computer and I absolutely love it. First, since I have been using Windows for so long, both
            on my computers at home and on my work and school computers, I am very familiar with both the user interface and the CLI (Command Line Interface).
        </p>
        <p>
            Like I stated earlier, it is the perfect operating system for everyday standard use. The UI is very intuitive and beginner friendly
            and there is very little that Windows can not do. 
        </p>
        <p>
            If you are on a windows machine, you don't have to think about whether 
            you can install a certain program or use a certain application because almost everything was designed to be run on a Windows machine. 
        
        </p>
        <p>
            I use my personal computer for coding, school, games, movies etc.
            and Windows is great for that. I have essentially no complaints for Windows. Yes it is a little pricey but $150 
            in my opinion is worth it for Windows.
        </p>
        <p>
            That being said, I am a broke college student, which is what led me to try linux on my personal machine.
        </p>
        <p>
            I imaged my laptop with Ubuntu about a year ago and I have enjoyed it thus far. But it is definetly not intended for people who are new to computers.
            The linux user interface is not as extensive as Windows UI but Linux makes up for this with its CLI.
        </p>
        <p>
            
        </p>

    </div>

    
</body>

<app-footer></app-footer>