<app-header></app-header>
<body>
    <div class="subheader">
        <p class="date">August 4th, 2024</p>
        <div class="title">My Experience With Linux and Windows</div>
        <p class="author">Victor Misyutin</p>
        <hr>
    </div>

    <div class="content">
        <!-- <div class="subtitle">An Introduction to Vim, some basic commands, and how to install Vim on a Windows machine.</div> -->
        <p>For the past ten or so years of my life I have been using only Windows machines. It was not until about four
            years ago that I discovered other operating systems and their cult like followings.
        </p>
        <p>
            In high school, some of my friends began buying Macbooks, which introduced me to macOS. Unfortunately, since I have no desire to spend a fortune on a half decent Mac, 
            I have not had much experience with it macOS.
        </p>
        <p>
            For that reason, I will mostly be talking about Windows and two different distributions of Linux, Ubuntu and Kali.
        </p>
        <h2 class="section-title">What is an Operating System</h2>
        <p>Before we continue, I want to briefly define what an operating system is.</p>
        <p>
            An <em>operating system</em> is software that usually comes preinstalled on your computer and manages both the hardware and software components of your device. 
            It controls how you interact with your computer (your user interface) and what your computer actually does. Meaning, it controls your data/files, your peripherals (like a keyboard and monitor), your network connections,
            and every program you will use. In essence, it is what allows a person to use the physical components of a computer in an easily operated and useful manner.
        </p>
        <p>
            There are a plethora of different operating systems each with its own strengths and weaknesses. Some of them are very similar, both in look and function. 
            While others have different interfaces and more specific use cases. For example, you can easily see a difference between the look of an Apple computer that 
            uses macOS and a Windows machine.
        </p>
        <p>
            Some of the most popular operating systems are Windows, macOS, Linux, iOS, Android (operating system), and chromeOS. <u>Windows</u>, developed by Microsoft is by far the most popular operating system on home and work computers.
        </p>
        <p>
            <u>macOS</u> is used on Apple Laptops and Desktops while <u>iOS</u> is used on Apple phones. <u>Android</u> is the name of the operating system on any Android phone, and <u>chromeOS</u> is used on Chromebooks.
        </p>
        <h2 class="section-title">What is Linux</h2>
        <p>
            Linux, although often refered to as an operating system is techinically not an operating system. Linux is group of many different operating systems that are all based on the open source Linux kernel.
        </p>
        <p>
            The kernel is the most important part of an operating system. It is what allows programs to read and write to your computers memory and storage as well as interact with other hardware components.
            The Linux kernel, developed by Linus Torvalds, is free and completly open source which allows anyone to add to it, customize it, and create their own fully functioning operating system. 
        </p>
        <p>
            So, although they are all based on the same core and are very similar, different Linux based operating systems have different specific functionalities. Each distinct Linux based operating system is called a Linux distribution or distro for short.
        </p>

    </div>

    
</body>

<app-footer></app-footer>