body{
  background-color: #42414a;
  color: white;
}
.main{
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 50px;
  padding: 2.5% 5%;
}
.hero{
  grid-column: 1;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 30px;
  display: block;
  font-style: italic;
  font-weight: bold;
}
.text div{
  padding: 0;
  font-family: 'blackitalic';
}
.text-one{
  margin-bottom: -7px;
  font-size: 50px;
}
.text-two{
  font-size: 50px;
  color: #FC4F4F;
}
.text-three{
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}
.text-four{
  color: #FC4F4F;
  font-size: 20px;
}
.questions{
  grid-column: 2;
  height: 400px;
  display: block;
}
.questions div{
  font-family: 'black';
  font-size: 40px;
  letter-spacing: 1.1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions div input[type='text']{
  margin: 0 10px;
  margin-top: 10px;
  background-color: transparent;
  overflow: none;
  border: none;
  border-bottom: 3px white solid;
  
}
#age{
  width: 50px;
  height: 30px;
}