<body>
  <app-liftware-header></app-liftware-header>
  
  <div class="main">
    <div class="hero">
      <div class="text">
        <div class="text-one">No Equipment?</div>
        <div class="text-two">No Problem</div>
        <div class="text-three">Find your perfect workout</div>
        <div class="text-four">NOW</div>
      </div>
    </div>
    <div class="questions">
      <div class="age-text">I am <input type="text" name="age" id="age" maxlength="3"> years old</div>
      <div class="weight-text">Weigh _ pounds</div>
      <div class="times-text"> I want to workout _ days a week for _ mins</div>
      <div class="Equipment-text">My fitness goal is to _</div>

    </div>
  </div>
</body>