.posts-container{
    margin: 7vh 25%;
}
.post{
    color:white;
    margin-bottom: 7vh;
}
.title{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.subtitle{
    font-size: 15px;
    gap: 30px;
    display: inline-flex;
    margin-bottom: 0;
}
.subject{
    color: rgb(26, 223, 26);
}
.description{
    margin-top: 10px;
    font-size: 17px;
}