<app-header></app-header>
<body>

    <div class="posts-container">

        <div class="post">
            <p class="title">An introduction to Nueral Networks using C.</p>
            <div class="subtitle">
                <p class="date">July 28th, 2024</p>
                <p class="subject">Artificial Intelligence</p>
            </div>
            <p class="description">What are Nueral Networks, what are they used for, and how can we construct one in C?</p>
        </div>

    </div>

</body>
<app-footer></app-footer>
