<app-header></app-header>
<body>

    <div class="posts-container">

        <div class="post">
            <p [routerLink]="['neural-network']" class="title">An Introducion to Neural Networks using C++</p>
            <div class="subtitle">
                <p class="date">September 13th, 2024</p>
                <p class="subject">Machine Learning</p>
            </div>
            <p class="description">What are Neural Networks, what are they used for, and how can we construct one in C++?</p>
         </div> 

        <div class="post">
            <p [routerLink]="['an-introduction-to-vim']" class="title">An Introduction to Vim for Beginners</p>
            <div class="subtitle">
                <p class="date">August 28th, 2024</p>
                <p class="subject">Terminal Text Editor</p>
            </div>
            <p class="description">An Introduction to Vim. The different modes and some basic commands.</p>
        </div>
        
        <div class="post">
            <p [routerLink]="['my-experience-with-linux-and-windows']" class="title">My Experience With Linux and Windows</p>
            <div class="subtitle">
                <p class="date">August 8th, 2024</p>
                <p class="subject">Operating Systems</p>
            </div>
            <p class="description">My experience using both Linux and Windows for my projects and personal enjoyment.</p>
        </div>

<!-- 
        <div class="post">
            <p [routerLink]="" class="title">Conflict-Free Replicated Data Types (CRDT)</p>
            <div class="subtitle">
                <p class="date">July 28th, 2024</p>
                <p class="subject">Distributed Systems</p>
            </div>
            <p class="description"></p>
        </div>
-->


    </div>

</body>
<app-footer></app-footer>
