<app-header></app-header>
<body>
    <h2 class="title">Play your favorite games below!</h2>
    
    <div class="links">
        <a class="link" target="_blank" href="https://www.nytimes.com/games/wordle/index.html">Wordle</a>
        <a class="link" target="_blank" href="https://www.nytimes.com/games/connections">Connections</a>
        <a class="link" target="_blank" href="https://www.nytimes.com/crosswords/game/mini">The Mini (NYT)</a>
        <a class="link" target="_blank" href="https://www.nytimes.com/games/strands">Strands</a>
        <a class="link" target="_blank" href="https://framed.wtf/">Framed</a>
        <a class="link" target="_blank" href="https://episode.wtf/">Episode</a>
        <a class="link" target="_blank" href="https://thrice.geekswhodrink.com/">Thrice</a>
        <a class="link" target="_blank" href="https://www.latimes.com/games/mini-crossword">The Mini (LA)</a>
        <a class="link" target="_blank" href="https://guessthe.game/">Guess The Game</a>
        <a class="link" target="_blank" href="https://worldle.teuteuf.fr/">Worldle</a>
        <a class="link" target="_blank" href="https://globle-game.com/">Globle</a>
        <a class="link" target="_blank" href="https://bandle.app/">Bandle</a>
        <a class="link" target="_blank" href="https://heardlewordle.io/">Heardle</a>
        <a class="link" target="_blank" href="https://www.jetpunk.com/quizzes/random?language=english">Jet Punk</a>
    </div>

</body>
<app-footer></app-footer>