body{
    background-color: rgb(30, 30, 30);
    color: white;
}
.title-text{
    margin-top: 120px;
    margin-bottom: 400px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
}
.begin-button{
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    border: 2px rgb(88, 88, 88) solid;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 12px;
}
.begin-button:hover{
    cursor: pointer;
    width: 210px;
    height: 65px;
    font-size: 24px;
    text-decoration: underline;
}
.queue-text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}