<app-header></app-header>
<body>
    <div class="main-container">
        <div class="row">
            <div class="left">
                <p>Yellow Category</p>
                <input type="text">
            </div>
            <div class="right">
                <p>Yellow Answers (seperate with commas)</p>
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p>Green Category</p>
                <input type="text">
            </div>
            <div class="right">
                <p>Green Answers (seperate with commas)</p>
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p>Blue Category</p>
                <input type="text">
            </div>
            <div class="right">
                <p>Blue Answers (seperate with commas)</p>
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="left">
                <p>Purple Category</p>
                <input type="text">
            </div>
            <div class="right">
                <p>Purple Answers (seperate with commas)</p>
                <input type="text">
            </div>
        </div>

        <button (click)="createGame()">Create Game</button>
    </div>

</body>

<app-footer></app-footer>