<app-header></app-header>
<body>
    <div id="url-display" class="URL-hidden">
        <p>{{shareURL}}</p>
        <button class="copy-button" (click)="copyLink()">Copy Link</button>
    </div>
    <div class="main-container">
        <div class="row yellow">
            <div class="left">
                <p>Yellow Category</p>
                <input id="yellowCategory" class="category-input" type="text">
            </div>
            <div class="right">
                <p>Yellow Answers (seperate with commas)</p>
                <input id="yellowAnswers" type="text">
            </div>
        </div>

        <div class="row green">
            <div class="left">
                <p>Green Category</p>
                <input id="greenCategory" class="category-input" type="text">
            </div>
            <div class="right">
                <p>Green Answers (seperate with commas)</p>
                <input id="greenAnswers" type="text">
            </div>
        </div>

        <div class="row blue">
            <div class="left">
                <p>Blue Category</p>
                <input id="blueCategory" class="category-input" type="text">
            </div>
            <div class="right">
                <p>Blue Answers (seperate with commas)</p>
                <input id="blueAnswers" type="text">
            </div>
        </div>

        <div class="row purple">
            <div class="left">
                <p>Purple Category</p>
                <input id="purpleCategory" class="category-input" type="text">
            </div>
            <div class="right">
                <p>Purple Answers (seperate with commas)</p>
                <input id="purpleAnswers" type="text">
            </div>
        </div>
        <div class="buttons">
            <button class="button" (click)="createGame()">Create Game</button>
            <a href="{{shareURL}}" (click)="createGame()" class="button">Play Now</a>

        </div>
    </div>

</body>

<app-footer></app-footer>