<app-header></app-header>

<body>
    <h1>NBA API DOCUMENTATION</h1> <hr>
    <a href="http://vicmis.com/api/diff/get-player/Stephen%20Curry"><p>vicmis.com/api/bot-output/get-player/&lt;player name&gt;</p></a><br>
    <a href="http://vicmis.com/api/bot-output/all-players"><p>vicmis.com/api/bot-output/all-players</p></a><br>
    <a href="http://vicmis.com/api/diff/get-player/Stephen%20Curry"><p>vicmis.com/api/diff/get-player/&lt;player name&gt;</p></a><br>
    <a href="http://vicmis.com/api/diff/all-players"><p>vicmis.com/api/diff/all-players</p></a><br>


</body>

<app-footer></app-footer>