main{
    margin: 0 10px;
}

h1{
    text-align: center;
}
hr {
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    width: 500px;
    display: grid;
    text-align: center;
    border: 1px solid;
    background-color:#056642;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin: auto;
}
hr{
    background-color: #49484d;
    height: 2px;
}

.link-desc{
    margin: 30px auto;
    font-size: 19px;
    width: 800px;
    height: 100px;
    text-align: center;
}

.row{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Split the container into two columns */
    gap: 10px; /* Spacing between grid items */
    height: 150px;
}
.left {
    grid-column: 1; /* Place it in the first column */
}

.right {
    grid-column: 2; /* Place it in the second column */
}