<app-header></app-header>

<body>
    <h1>NBA API DOCUMENTATION</h1><hr>
    <main>
        <section class="row">
            <section class="left">
                <a href="http://vicmis.com/api/diff/get-player/Stephen%20Curry">vicmis.com/api/bot-output/get-player/&lt;player name&gt;</a>
                <p class="link-desc"> Query the "bot-output" CSV for specific player. Returns<br><strong>Assists, Points, Rebounds, Reb+Ast, Pts+Reb+Ast</strong></p>
            </section>
            
            <section class="right">
                <a href="http://vicmis.com/api/bot-output/all-players">vicmis.com/api/bot-output/all-players</a>
                <p class="link-desc"> Query the "bot-output" CSV for all players.<br>Returns <strong>all players and their stats</strong></p>
            </section>
        </section>

        <section class="row">
            <section class="left">
                <a href="http://vicmis.com/api/diff/get-player/Stephen%20Curry">vicmis.com/api/diff/get-player/&lt;player name&gt;</a>
                <p class="link-desc"> Query the "differences" CSV for specific player. Returns<br><strong>Assists, Points, Rebounds, Reb+Ast, Pts+Reb+Ast</strong></p>
            </section>
            <section class="right">
                <a href="http://vicmis.com/api/diff/all-players">vicmis.com/api/diff/all-players</a>
                <p class="link-desc"> Query the "differences" CSV for all players.<br>Returns <strong>all players and their stats</strong></p>
            </section>
        </section>
    </main>
</body>

<app-footer></app-footer>