<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <p class="logo">Shirt Dynasty</p>
        <ul>
            <li>shop</li>
            <li>my clothing</li>
        </ul>
    </header>
    <main>
        <div class="hero">
            <h1 class="logo">Shirt Dynasty</h1>
            <h3 class="slogan">Every peice of clothing tells a story, pass it down through generations.</h3>
        </div>
    </main>
    <footer>

    </footer>
</body>