<body>
    <div class="header">
        <h2 class="title" [routerLink]="['/thirdwardarchive']">third ward archive</h2>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
        <div class="form-group">
            <input type="file" class="file-upload" onchange="console.log(event.target.files)" formControlName="iamge">
            <label>price</label>
            <input type="number" formControlName="price" >
        </div>
        <div class="form-group">
            <label>description</label>
            <input type="text" formControlName="description" >
        </div>
        <div class="form-group">
            <label>materials</label>
            <input type="text" formControlName="materials">
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</body>
