body{
    background-color: #816e6e;
}
.header{
    display: flex;
    padding: 20px 40px;
}
.title{
    margin: 0 auto;
    font-family: 'great-reaper';
    /* font-family: 'gothicdawn'; */
    letter-spacing: 3px;
    font-size: 80px;
    color: black;
    text-align: center;
    width: auto;
}
.title:hover{
    cursor: pointer;
}
form{
    width: 20%;
    margin: 8% auto;
    color: #000000;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-family: 'great-reaper';
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    height: 30px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #000000;
    margin-bottom: 15px;
    color: white;
    font-family: 'great-reaper';
    letter-spacing: 3px;
    font-size: 20px;
    font-stretch: 200%;
}
.submit-btn {
    display: block;
    margin: 0 auto;
    height:33px;
    width: 28%;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    margin-bottom: 15px;
    font-family: 'great-reaper';
    letter-spacing: 3px;
    font-size: 22px;
    padding: 5px;
    padding-left: 8px;
    /* transition: all 1s ease-in-out; */
    transition: all 1s linear;

}
.submit-btn:hover, .submit-btn:focus{
    cursor: pointer;
    color: red;
    transform: translateY(20px) scale(1.1);
}