<app-header></app-header>

<body>
    <h2>PROJECTS</h2>
    <main>
        <section class="row">
            <section class="project">
                <a href="projects/sudoku">Sudoku</a>
                <p class="project-description">Create, play, and solve games of Sudoku.</p>
            </section>
            <section class="project">
                <a href="projects/typing">Typing Game</a>
                <p class="project-description">Words will attack you and you must type them to survive!</p>
            </section>
        </section>
        <section class="row">
            <section class="project">
                <a href="projects/collision">Collision Resolution</a>
                <p class="project-description">Simulation for different collision resolution techniques during hashing.</p>
            </section>
            <section class="project">
                <a href="projects/space-invaders">Space Invaders</a>
                <p class="project-description">Rudimentary Space Invaders game. Still somewhat working on it so expect changes.</p>
            </section>
        </section>
        <section class="row">
            <section class="project">
                <a href="projects/connections">connections</a>
                <p class="project-description">Totally uhhh original idea... <br>But with hints!</p>
            </section>
            <section class="project">
                <a href="projects/viz-sort">viz sort</a>
                <p class="project-description">work in progress...</p>
            </section>
        </section>
    </main>
</body>
<app-footer></app-footer>