<app-header></app-header>

<body>
    <h1>PROJECTS</h1>
    <main>
        <section class="row">
            <section class="section">
                <a href="projects/sudoku">Sudoku</a>
                <p class="link-desc"> Create, play, and solve games of Sudoku.</p>
            </section>
            <section class="section">
                <a href="projects/typing">Typing Game</a>
                <p class="link-desc">Words will attack you and you must type them to survive!</p>
            </section>
        </section>
    </main>
</body>

<app-footer></app-footer>