a {
    text-decoration: none;
    color: #757575;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.hero{
    margin-bottom: 30px;
}
.hero h1 {
    margin-left: 10%;
}
.hero hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #555555;
}

.sidebar {
    /* background-color: #585858; */
    width: 230px;
    top: 89px;
    bottom: -150px;
    position: absolute;
    overflow-y: auto;
    min-width: 130px;
    display: flex;
}

.sidebar ul {
    margin: 10px 0 0 25px;
    padding: 0; /* Remove default padding */
}
.sidebar ul li {
    position: relative;
    margin: 5px 0;
    font-size: 17px;
}

.sidebar ul li:hover {
    color:#cacaca;
}

.main-content{
    margin-top: -4%;
    padding: 0 2%;
    /* border: 2px red solid */
}
.main-content h2{
    margin-top: 4%;
}
.main-content p{
    font-size: 18px;
    padding: 0 2%;
    padding-bottom: 0px;
}
.content {
    margin-left: 230px; /* Adjust according to the width of the sidebar */
    padding: 0px 60px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

nav ul {
    list-style-type: none;
}

@media screen and (max-height: 420px) {
    .sidebar {
      display: none; 
    }
}

@media screen and (max-width: 800px) {
    .hero h1 {
        text-align: center;
        margin-left: 0;
    }
    .sidebar {
      display: none; /* Hide the nav for smaller screens */
    }
    .content {
        position:relative;
        margin-left: 0; /* Adjust according to the width of the sidebar */
        padding: 0;
        text-align: center;
    }
}