body{
    background-color: teal;
}
#welcome-window {
    width: 760px;
    height: 435px;
    position: absolute;
    top: 250px;
    left: 200px;
    background-color: #D0D0D0;
    border: 2px solid white;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#welcome-window-header {
    background-color: #A5A5A5;
    border-bottom: 1px white solid;
    color: white;
    padding: 3px;
    cursor: move;
    user-select: none; /* Prevents text selection */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title p{
    font-family: "pixel-arial";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}
.close-button{
    background-color: #D0D0D0;
    border-top: 1px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 1px black solid;
}
.close-button p{
    color: black;
    font-family: "pixel-arial";
    font-size: 20px;
    margin: -5px 2px 0 5px;

}    
.top-part{
    width: 450px;
    text-align: right;
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;
}
h1{
    margin-bottom: 0;
    font-family: "pixel-arial";
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: lighter;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
    font-family: "pixel-arial";
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: lighter;
}
.bottom-part{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}
.contents-label p{
    font-family: "pixel-arial-bold";
    background-color: black;
    letter-spacing: 6px;
    padding: 2px;
    padding-left: 20px;
    margin-bottom: 0;
}
.option{
    border-bottom: 3px #969696 solid;
    height: 30px;
    padding-left: 15px;
    padding-top: 6px;
    font-family: "pixel-arial-bold";
    color: black;
    letter-spacing: 1px;
}
.bottom-right{
    margin-left: 50px;
    padding-top: 10px;
}
.description{
    width: 280px;
    font-family: "pixel-arial";
    color: black;
    letter-spacing: 2px;
}

#calculator-window {
    width: 480px;
    height: 580px;
    position: absolute;
    top: 170px;
    left: 1150px;
    background-color: #D0D0D0;
    border: 2px solid white;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#calculator-window-header {
    background-color: #0000a8;
    border-bottom: 1px white solid;
    color: white;
    padding: 3px;
    cursor: move;
    user-select: none; /* Prevents text selection */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculator-input-output-screen{
    display: flex;
    margin: 20px auto;
    width: 430px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    border-top: 3px black solid;
    border-right: 3px white solid;
    border-bottom: 3px white solid;
    border-left: 3px black solid;
    color: black;
    padding: 0 7px;
    font-family: 'pixel-arial';
    font-size: 35px;
    justify-content: right;
    align-items: center;
    margin-bottom: 30px;
}
.top-row{
    display: flex;
    margin: 0 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}
.top-row .empty-spot{
    width: 40px;
    height: 40px;
    background-color: rgb(214, 214, 214);
    border-top: 2px black solid;
    border-right: 2px white solid;
    border-bottom: 2px white solid;
    border-left: 2px black solid;
    margin-left: 10px;
}
.top-row .buttons{
    display: flex;
    gap: 6px;
}
.top-row .buttons .button{
    background-color: rgb(214, 214, 214);
    border-top: 2px white solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px white solid;
    padding: 0 5px;
    min-width: 102px;
}
.top-row .buttons .button:hover{
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    border-top: 2px black solid;
    border-right: 2px white solid;
    border-bottom: 2px white solid;
    border-left: 2px black solid;
}
.button p{
    text-align: center;
    color:black;
    font-family: 'pixel-arial';
    font-size: 13px;
}
.bottom-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 13px;
}
.bottom-buttons .button{
    background-color: rgb(214, 214, 214);
    border-top: 2px white solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px white solid;
    padding: 0 5px;
    width: 55px;
    margin-bottom: 10px;
}
.bottom-buttons .button:hover{
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    border-top: 2px black solid;
    border-right: 2px white solid;
    border-bottom: 2px white solid;
    border-left: 2px black solid;
}
.bottom-right-buttons .row{
    display: flex;
    margin-right: 15px;
    gap: 5px;
}
.bottom-right-buttons .row .button{
    width: 54px;
    height: 45px;
}

.task-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px; 
    background-color: #C0C0C0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
    }

.left-task-bar {
    display: flex;
    align-items: center;
}
.task{
    display: flex;
    height: 35px;
    padding: 5px 10px;
    padding-bottom: 3px;
    background-color: rgb(226, 226, 226);
    border: 2px #A5A5A5 solid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px gray;
}
.task-title{
    color: black;
    font-family: 'pixel-arial';
}
.task-logo p{
    color: black;
    font-family: 'pixel-arial';
    font-size: 18px;
    letter-spacing: 2px;
}
.left-task-bar .task .hr{
    height: 25px;
    border: 1px gray solid;
    margin: 0 8px;
}
.right-task-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.right-task-bar .task{
    padding: 5px 15px;
}
