/* formal CSS */
.formal-mode{
    background-color: #4b4b4b;
    min-height: 95vh;
    padding: 20px 12%;
}
.formal-mode .hero {
    text-align: center;
    font-size: large;
    margin-bottom: 5px;
}
.formal-mode hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #686868;
}
.formal-mode .feature-upper{
    text-align: center;
}
.formal-mode .feature-upper h4{
    margin-bottom: 30px;
}
.formal-mode .feature-upper a{
    color: #cbcbcb;
}
.formal-mode .feature-left {
    float: left;
    margin-bottom: 50px;
    padding: 0;
}
.formal-mode .feature-right {
    float: right;
    margin-bottom: 50px;
    padding: 0;
}
.formal-mode .feature-left h3{
    text-align: left;
    margin-left: 80px;
}
.formal-mode .feature-left p{
    text-align: left;
    font-size: large;
}
.formal-mode .feature-right h3{
    text-align: right;
    margin-right: 80px;
}
.formal-mode .feature-right p{
    text-align: right;
    font-size: large;
}
.formal-mode .documentation,
.formal-mode .pricing,
.formal-mode .contact {
    text-align: center;
    padding: 50px 0;
}
@media screen and (max-width:750px) {
    .formal-mode body{
        margin: 0px 60px;
    }
    .formal-mode .hero{
        margin-bottom: 30px;
    }
    .formal-mode .feature-left h3{
        text-align: center;
        margin: 0;
    }
    .formal-mode .feature-right h3{
        text-align: center;
        margin: 0;
    }
    .formal-mode .feature-left p{
        text-align: center;
    }
    .formal-mode .feature-right p{
        text-align: center;
    }
}
