<body *ngIf="mode === 'professional' || mode === ''" id="professional">
  <div class="first-section">

    <div class="hero">
      <div class="left">
        <h1 class="name">Victor Misyutin</h1>
        <h3 class="title">CS and EE Minor &#64; UIUC</h3>
      </div>
      <div class="right">
        <p class="hero-desc">Developing appealing and functioning full-stack applications using various technologies</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/victor-misyutin/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/VictorMisyutin" target="_blank"><i class="fab fa-github"></i></a>
          <a href="mailto:misyutinvictor@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>

    <!-- 
  could save this in ts file or backend as table. could store name, date, desc,
   and height could be months*50px 
   -->


    <div class="timeline">
      <div class="education-side">
        <h1>Education</h1>

        <div class="left-content-cell" id="uiuc" #uiuc>
          <div class="left-content">
            <span class="content-date">2024 &mdash; 2026</span>
          </div>
          <div class="right-content">
            <span class="content-title">B.S. Computer Science, EE Minor &#x2022; UIUC</span>
            <div class="content-description">
              <p>GPA: 3.87/4.00</p>
              <p>Transferred into the Grainger College of Engineering after 2 years at Oakton.</p>
              <p>Coursework:</p>
              <ul>
                <li>The Art of Web Development (CS 409)</li>
                <li>System Programming (CS 341)</li>
                <li>Game Development (CS 415)</li>
                <li>Data Mining (CS 412)</li>
              </ul>
            </div>
            <div class="skills">
              <div class="skill">C</div>
              <div class="skill">Linux</div>
              <div class="skill">Unreal Engine</div>
            </div>
          </div>
        </div>

        <div class="left-content-cell" id="oakton" #oakton>
          <div class="left-content">
            <span class="content-date">2022 &mdash; 2024</span>
          </div>
          <div class="right-content">
            <span class="content-title">Computer Science &#x2022; Oakton College</span>
            <div class="content-description">
              <p>GPA: 3.86/4.00</p>
              <p>Coursework:</p>
              <ul>
                <li>Data Structures Java</li>
                <li>Data Structures Python</li>
                <li>Data Structures C++</li>
                <li>Computer Architecture</li>
                <li>Objects and Algorithms</li>
              </ul>
              <p>Activities:</p>
              <ul>
                <li>CS Club</li>
                <li>Robotics Club</li>
                <li>Chess Club</li>
              </ul>
            </div>
            <div class="skills">
              <div class="skill">Python</div>
              <div class="skill">Java</div>
              <div class="skill">C++</div>
              <div class="skill">Data Structures</div>
            </div>
          </div>
        </div>
      </div>

      <div class="work-side">
        <h1>Experience</h1>


        <div class="right-content-cell" id="upg" #upg>
          <div class="left-content">
            <span class="content-title">Web Development Intern &#x2022; UPG </span>
            <div class="content-description">
              <p>
                Developed and maintained web applications using React and Firebase. Currently working on settings up custom tutorial
                steps using React Joyride.
              </p>
            </div>
            <div class="skills">
              <div class="skill">React</div>
              <div class="skill">Firebase</div>
              <div class="skill">GitHub</div>
            </div>
          </div>
          <div class="right-content">
            <span class="content-date">Jan &mdash; Apr 2025</span>
          </div>
        </div>

        <div class="right-content-cell" id="it" #it>
          <div class="left-content">
            <span class="content-title">Information Technology Lab Aid &#x2022; Oakton</span>
            <div class="content-description">
              <p>
                Troubleshooted software and hardware components for computer lab of 80 desktop computers.
                Assisted students with computer science or related course work.
                Provided technology support for all classrooms on campus.
                Installed and configure software and hardware components, ensuring compatibility and reliability.
              </p>
            </div>
            <div class="skills">
              <div class="skill">Troubleshooting</div>
              <div class="skill">Hardware</div>
              <div class="skill">Communication</div>
            </div>
          </div>
          <div class="right-content">
            <span class="content-date">2023 &mdash; 2024</span>
          </div>
        </div>

        <div class="right-content-cell" id="tutor" #tutor>
          <div class="left-content">
            <span class="content-title">Mathematics Tutor &#x2022; Oakton</span>
            <div class="content-description">
              <p>
                Helped students improve performance and strengthen math concepts.
                Assisted teachers in instructing math classes of up to 25 students.
                Worked with students one on one to create good habits and complete assignments.
              </p>
            </div>
            <div class="skills">
              <div class="skill">Instruction</div>
              <div class="skill">Leadership</div>
            </div>
          </div>
          <div class="right-content">
            <span class="content-date">2023 &mdash; 2024</span>
          </div>
        </div>

        <div class="right-content-cell" id="instructor" #instructor>
          <div class="left-content">
            <span class="content-title">After School Instructor &#x2022; Brains & Motion</span>
            <div class="content-description">
              <p>
                Instructed multiple classes of roughly 30 elementary school students. Tought subjects
                such as Creative Writing, Robotics, and Chess.
              </p>
            </div>
            <div class="skills">
              <div class="skill">Instruction</div>
              <div class="skill">Leadership</div>
            </div>
          </div>
          <div class="right-content">
            <span class="content-date">2023 &mdash; 2024</span>
          </div>
        </div>

        <div class="right-content-cell" id="encoreIntern" #encoreIntern>
          <div class="left-content">
            <span class="content-title">Application Development Intern &#x2022; Encore</span>
            <div class="content-description">
              <p>
                Programmed and maintained the back-end of web applications using C#, .NET and MS SQL.
                Designed and implemented user interfaces using HTML, Bootstrap, Typescript, and Angular.
                Added shift report email functionality and custom context menu using Active Reports 15.
                Utilized Azure TFS for source control, Jenkins for CI/CD, New Relic, and ShiftLeft for
                monitoring.
                Tested all finalized code to ensure all requirements were met.
                Participated in meetings with product owners to gather and clarify requirements.

              </p>
              <div class="skills">
                <div class="skill">Angular</div>
                <div class="skill">C#</div>
                <div class="skill">ASP.NET</div>
                <div class="skill">SQL</div>
                <div class="skill">MSSQL</div>
                <div class="skill">Jenkins</div>
                <div class="skill">Shift-left</div>
              </div>
            </div>
          </div>
          <div class="right-content">
            <span class="content-date">May &mdash; Aug 2023</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="projects-section">
    <h1>Projects</h1>

    <div class="projects">
      <div class="project-cell">
        <div class="left-content">
          <span class="content-date">2024 &mdash; 2026</span>
        </div>
        <div class="right-content">
          <span class="project-title">B.S. Computer Science, EE Minor &#x2022; UIUC</span>
          <div class="project-description">
            <p>GPA: 3.87/4.00</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</body>


<!-- ******************************OLD STUFF***************************** -->



<body *ngIf="mode === 'classical' || mode === 'formal'">
  <app-header></app-header>

  <div class="formal-mode">
    <section class="hero">
      <h2>Welcome to vicmis</h2>
      <p>Explore, Learn, and Build</p>
      <hr>
    </section>

    <section class="features">
      <div class="feature-upper">
        <h3>Film of the year by Dylan Kaufmann</h3>
        <h4>"Colorblind", <a href="https://www.youtube.com/watch?v=lkGHt7Ucsk8">Watch Now!</a></h4>
        <h4>"Stay", <a href="https://www.youtube.com/watch?v=zTpTam8P8Es">Watch Now!</a></h4>
        <hr>
      </div>
      <div class="feature-left">
        <h3>Discover Exciting Projects</h3>
        <p>
          Browse through a diverse range of projects created by our community of developers. From web development and
          mobile apps to machine learning and AI,
          there's something for everyone. Get inspired, collaborate, and contribute to open-source projects that make a
          difference.
        </p>
      </div>
      <div class="feature-right">
        <h3>Powerful APIs at Your Fingertips</h3>
        <p>
          Unlock the potential of your applications with our robust APIs. Seamlessly integrate powerful features and
          functionalities into your projects,
          whether you're building a website, mobile app, or software solution. Our APIs are designed to streamline
          development and enhance user experiences.
        </p>
      </div>
    </section>
  </div>
</body>


<body class="fnaf" *ngIf="mode === 'fnaf'">
  <div class="static">
    <canvas class="noise"></canvas>
    <div class="camera-container">
      <div class="ui-overlay">
        <p class="camera-title">CAM 01</p>
        <p class="camera-status">LIVE</p>
      </div>
    </div>
    <div class="camera-buttons-container">
      <button class="camera-button" [routerLink]="">Home</button>
      <button class="camera-button" [routerLink]="['/projects']">Projects</button>
      <button class="camera-button" [routerLink]="['/docs']">Documentation</button>
      <button class="camera-button" [routerLink]="['/contact']">Contact</button>
      <button class="camera-button" [routerLink]="['/settings']">Settings</button>
    </div>
  </div>
  
</body>

<body *ngIf="mode === 'windows-xp'">
  <div>
    <app-retro-ui></app-retro-ui>
  </div>
</body>