<app-header></app-header>
<body>
    <div class="subheader">
        <p class="date">September 13th, 2024</p>
        <div class="title">An Introducion to Neural Networks using C++</div>
        <p class="author">Victor Misyutin</p>
        <hr>
    </div>

    <div class="content">
        <p>
            For the past ten or so years, I have used only Windows machines. It was not until about four
            years ago that I discovered other operating systems and their cult-like followings.
        </p>
        <p>
            In high school, some of my friends began buying Macbooks, which introduced me to macOS. Unfortunately, since I have no desire to spend a fortune on a half-decent Mac, 
            I have not had much experience with it macOS.
        </p>
        <p>
            For that reason, I will mostly be talking about Windows and two different distributions of Linux, Ubuntu and Kali.
        </p>
        <h2 class="section-title">What is an Operating System</h2>
        <p>Before we continue, I want to briefly define what an operating system is.</p>
        <p>
            An <em>operating system</em> (or OS for short) is software that usually comes preinstalled on your computer and manages both the hardware and software components of your device. 
            It controls how you interact with your computer (your user interface) and what your computer does. Meaning that it controls your data/files, your peripherals (like a keyboard and monitor), your network connections,
            and every program you will use. In essence, it is what allows a person to use the physical components of a computer in an easily operated and useful manner.
        </p>
        <p>
            There are a plethora of different operating systems each with its strengths and weaknesses. Some of them are very similar, both in look and function. 
            While others have different interfaces and more specific use cases. For example, you can easily see a difference between the look of an Apple computer that 
            uses macOS and a Windows machine.
        </p>
        <p>
            Some of the most popular operating systems are Windows, macOS, Linux, iOS, Android (operating system), and chromeOS. Windows is by far the 
            most popular operating system on home and work computers, while Linux is most popular on web servers, cloud computing, routers, cars, smart fridges, and pretty much any other device.
        </p>
    </div>
</body>
<app-footer></app-footer>