<app-header></app-header>
<body>
    <div class="subheader">
        <p class="date">September 13th, 2024</p>
        <div class="title">An Introducion to Neural Networks using C++</div>
        <p class="author">Victor Misyutin</p>
        <hr>
    </div>

    <div class="content">
        <h2 class="section-title">What are Neural Networks?</h2>
        <p>
            A <em>neural network</em> is a machine learning model inspired by the structure and function of the human brain. Just like how
            the human brain has neurons connected together, a neural network has layers of interconnected nodes. Each node is called a
            <em>neuron</em>. When a neuron is activated, it sends a signal to the neurons connected to it. The way the neurons are connected
            and how the signal is sent is determined by the <em>weights</em> and <em>biases</em> of each neuron.
        </p>
        <p>
            The way the neurons are organized is determined by the <em>architecture</em> of the neural network. The simplest architecture is
            a <em>feedforward</em> network, where the neurons are organized in layers and the neurons in each layer are connected to the
            neurons in the next layer. There are also more complex architectures like <em>convolutional</em> and <em>recurrent</em> neural
            networks.
        </p>
        <p>
            The process of training a neural network is called <em>backpropagation</em>. First, the neural network is given some data to
            train on. Then, the neural network makes a prediction based on the data. The prediction is then compared to the actual output and
            the difference is calculated. The difference is then used to adjust the weights and biases of each neuron. This process is
            repeated until the difference between the prediction and the actual output is small enough.
        </p>
        <p>
            Neural networks have many applications in computer science, including <em>image recognition</em>, <em>natural language processing</em>, and
            <em>game playing</em>.
        </p>
        
    </div>
</body>
<app-footer></app-footer>