<app-header></app-header>
<body>
    <div class="menu-select-container">
        <!-- <p class="section-title">Game Type</p>
        <hr>
        <div class="top-menu">
            <p class="game-type">Artists</p>
            <p class="game-type">Album</p>
        </div> -->
        <p class="section-title">Genre</p>
        <hr>
        <div class="right-menu">
            <div class="menu-options">
                <p class="genre" *ngFor="let genre of genre_options" (click)="changeGenre(genre)" id={{genre}}>{{genre}}</p>    
            </div>
        </div>
    </div>

    <input type="button" value="Roll" class="roll-button" (click)="rollNewArtist()">

    <h2 class="current-artist">{{currentArtist}}</h2>

    <div class="rankings">
        <div class="ranking" *ngFor="let artist of rankings; let i = index" (click)="setRank(i)">
            <div class="index">{{i+1}}.</div>
            <div class="artist" *ngIf="artist != ''">{{artist}}</div>
            <div class="empty-artist" *ngIf="artist == ''"></div>
        </div>
    </div>
    <input type="button" value="Reset" class="reset-button" (click)="resetRankings()">

</body>
<app-footer></app-footer>
