<app-header></app-header>

<body>
    <h1>MLB API DOCUMENTATION</h1><hr>
    <main>
        <section class="row">
            <section class="section">
                <a href="http://vicmis.com/api/mlb/get-player/Shohei Ohtani">vicmis.com/api/mlb/get-player/&lt;player name&gt;</a>
                <p class="link-desc"> Query the "MLBSZN" CSV for specific player. Returns<br><strong>Strikeouts, Hits, RBIs</strong>.</p>
            </section>
            <section class="section">
                <a href="http://vicmis.com/api/mlb/all-players">vicmis.com/api/mlb/all-players</a>
                <p class="link-desc"> Query the "MLBSZN" CSV for all players.<br>Returns <strong>all players and their stats</strong>.</p>
            </section>
        </section>
    </main>
</body>

<app-footer></app-footer>