<app-header></app-header>

<body>
    <h1 class="title">connections</h1>

    <div class="categories-menu">
        <p id="yellow-menu">{{displayedCategories[0]}}</p>
        <p id="green-menu">{{displayedCategories[1]}}</p>
        <p id="blue-menu">{{displayedCategories[2]}}</p>
        <p id="purple-menu">{{displayedCategories[3]}}</p>
    </div>

    <div class="main-content-area" >
        <div *ngFor="let word of wordsArray"  class="word" 
        [ngClass]="{ 'hinted':word.status === 6, 'unsolved': word.status == 4 , 'selected': word.status == 5, 'yellow': word.status == 0, 'green': word.status == 1
        , 'blue': word.status == 2, 'purple': word.status == 3}" 
        (click)="wordClicked(word.word)">
        {{ word.word }}
        </div>
    </div>

    <p class="pop-up-text-hidden" id="pop-up-text">{{pop_up_text}}</p>

    <div class="lives">
        <div *ngFor="let life of lives">&#x25CF;</div>
    </div>
    <div class="buttons">
        <button class="button" (click)="check()">submit</button>
        <button class="button" (click)="shuffle()">shuffle</button>
        <button class="button" (click)="hint()">hint</button>
    </div>

</body>

<app-footer></app-footer>