<app-header></app-header>

<body>
    <h1 class="title">connections</h1>

    <div class="main-content-area" >
        <div *ngFor="let word of wordsArray"  class="word" 
        [ngClass]="{'unsolved': word.status == 0 , 'selected': word.status == 1, 'green': word.status == 2}" 
        (click)="wordClicked(word.word)">
        {{ word.word }}
        </div>
    </div>

    <p class="pop-up-text" id="pop-up-text">{{pop_up_text}}</p>

    <div class="lives">
        <div *ngFor="let life of lives">&#x25CF;</div>
    </div>
    <div class="buttons">
        <button class="button" (click)="check()">submit</button>
        <button class="button" (click)="shuffle()">shuffle</button>
    </div>

</body>

<app-footer></app-footer>