<app-header></app-header>

<body>
    <h1 class="title">connections</h1>

    <div class="categories-menu">
        <p id="yellow-menu">{{displayedCategories[0]}}</p>
        <p id="green-menu">{{displayedCategories[1]}}</p>
        <p id="blue-menu">{{displayedCategories[2]}}</p>
        <p id="purple-menu">{{displayedCategories[3]}}</p>
    </div>

    <div class="main-content-area" >
        <div *ngFor="let word of wordsArray"  class="word" 
        [ngClass]="{ 'hinted':word.status === 6, 'unsolved': word.status == 4 , 'selected': word.status == 5, 'yellow': word.status == 0, 'green': word.status == 1
        , 'blue': word.status == 2, 'purple': word.status == 3}" 
        (click)="wordClicked(word.word)">
        {{ word.word }}
        </div>
    </div>

    <p class="pop-up-text-hidden" id="pop-up-text">{{pop_up_text}}</p>

    <div class="lives">
        <div *ngFor="let life of lives">&#x25CF;</div>
    </div>
    <div class="buttons">
        <button class="button" (click)="check()">submit</button>
        <button class="button" (click)="shuffle()">shuffle</button>
        <button class="button" (click)="hint()">hint</button>
    </div>
    <div class="description">
        <h3>how to play</h3>
        <p>
            There are four categories and four words that fall into each category. Your challenge is to find which
            words go together. You have four tries to do this. If you get stuck, hit the "hint" button to see two 
            words that are in the same category. Goodluck!
        </p>
        <p>you can also create your own connections game!</p>
    </div>
    <button id="create-your-own" [routerLink]="['/projects/connections/create']">Create</button>

</body>

<app-footer></app-footer>