<app-header></app-header>
<body> 
    <div class="options">
        <div class="option" (click)="sortByYear()">year</div>
        <div class="option" (click)="sortByName()">name</div>
        <div class="option" (click)="sortByEthnicity()">ethnicity</div>
        <div class="option" (click)="sortByGender()">gender</div>
    </div>
    <div class="sub-options">
        <div class="sub-option" (click)="sortByYear()">year</div>
        <div class="sub-option" (click)="sortByName()">name</div>
        <div class="sub-option" (click)="sortByEthnicity()">ethnicity</div>
    </div>

    <h3>Spotify Hits</h3>
    <div class="main-table"></div>
</body>
<app-footer></app-footer> 