body{
    padding: 0;
    margin: 0;
}
.header{
    background-color: #232222;
    padding: 1vh 0;
}
.right-stuff{
    margin-right: 2vw;
    display: flex;
    justify-content:end;
    align-items: center;
}
.right-stuff img{
    margin: 0 1vw;
    height: 4vh;

}
.right-stuff img:hover{
    cursor: pointer;
    filter: invert(20%) sepia(0%) saturate(218%) hue-rotate(292deg) brightness(90%) contrast(75%);
}