<body>
    <app-twa-header></app-twa-header>
    <div class="hero">
        <p class="left-hero-text">THIRD WARD ARCHIVE</p>
        <img src="/assets/twa/TWA-acidiclogo.png">
    </div>
    <div class="countdown-area">
        <p class="countdown-desc">Countdown Till Drop</p>
        <p class="coutdown-text">{{countdown}}</p>
        <!-- <div class="shop-button">shop</div> -->
    </div>
    <div class="hidden" id="catalog-area">
        <p class="new-in-text">NEW IN</p>

        <div class="products-container">
            <div *ngFor="let productImage of productImageUrls; let i = index" class="product">
                <div class="product-image">
                    <img [src]="productImage" [routerLink]="['/thirdwardarchive/merch/details']" [queryParams]="{id: i+1}" class="photo">
                    <!-- <img src="/assets/twa/twa-heart-black.png" class="heart"> -->
                </div>
                <div class="product-desc">
                    <div class="title">{{productInfo[i][0]}}</div>
                    <div class="price">${{productInfo[i][1]}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="email-signup-section">
        <div class="left-side">
            <p class="section-title">STAY IN THE LOOP</p>
            <p class="section-subtitle">Get notified when our next collection drops</p>
            <input type="text" class="email-input-box" id="email-input-box" placeholder="Email Address" [(ngModel)]="email">
            <br style="clear:both"/>
            <div class="email-signup-button" (click)="emailSignup()">Sign Up</div>
        </div>  
        <div class="right-side">
            <img src="/assets/twa/twa-email-signup-image.png">
        </div>
    </div>
    <div class="follow-section">
        <div class="left-side">
            <p class="follow-title">FOLLOW US</p>
            <p class="follow-subtitle" (click)="sendToInstagram()">&#64;thirdwardarchive</p>
        </div>
        <div class="right-side">
            <img src="/assets/twa/twa-follow-top-left.png">
            <img src="/assets/twa/twa-follow-top-right.png">
            <img src="/assets/twa/twa-follow-bottom-left.png">
            <img src="/assets/twa/twa-follow-bottom-right.png">
        </div>
    </div>
    <app-twa-footer></app-twa-footer>
</body>