body{
    padding: 0;
    margin: 0;
    background-color: #816e6e;
}
.logo{
    color: black;
    margin: 5.5vw 0;
    text-align: center;
    font-family: 'punk-kid';
    font-size: 15vw;
}
.countdown{
    margin: 0;
    margin-bottom: 3vw;
    font-family: 'great-reaper';
    letter-spacing: 3px;
    word-spacing: 1vw;
    font-size: 5vw  ;
    color: black;
    text-align: center;
}
.drops{
    margin: 0 auto;
    font-family: 'great-reaper';
    font-size: 4vw;
    letter-spacing: 10px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bolder;
}
.drops:hover{
    cursor: pointer;
    color: rgb(184, 184, 184);
}
