body{
    padding: 0;
    margin: 0;
    /* background-color: #848484; */
    height: 110vh;
}   
.hero{
    height: 124vh;
    background-image: url("/assets/twa/heroimage.png");
    background-size: cover;
    padding-bottom: 0;
}
.left-hero-text{
    color: white;
    float: left;
    margin-left: 7vw;
    width: 30vw;
    font-size: 9vw;
    font-family: 'koulon';
    margin-top: 15vh;

    font-family: 'acidic';
    font-size: 8vw;
    line-height: 1.5em;
}
.hero img{
    position: absolute;
    bottom: 0;
    right: 2vw;
    width: 12vw;
}
.countdown-area{
    padding: 13vh;
    text-align: center;
    background-color: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(143,143,143,1) 50%, rgba(44,44,44,1) 100%);
}
.countdown-area p{
    color: white;
    font-family: 'koulon';
    font-family: 'acidic';
    font-size: 4.15vw;
}
.shop-button{
    margin: 0 auto;
    display: flex;
    background-color: #06094D;
    width: 16.5vw;
    height: 11vh;
    border-radius: 56px;
    font-size: 2.1vw;
    justify-content: center;
    align-items: center;
    font-family: 'koulon';
    color: white;
}
.shop-button:hover{
    cursor: pointer;
    background-color: #0c116f;
}
.catalog-area{
    padding-left: 14vw;
    padding-right: 14vw;
    padding-bottom: 20vh;    
    background-color: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(143,143,143,1) 50%, rgba(44,44,44,1) 100%);
}
.new-in-text{
    font-family: 'koulon';
    font-family: 'acidic';
    font-size: 4.6vw;
    color: white;
    margin-bottom: 5vh;
}
.products-container{
    margin: 0 auto;
    display: grid;
    gap: 8vw;
    grid-template-columns: 1fr 1fr 1fr;
}
.product-image {
    position: relative;
    display: inline-block;
}
.product-image:hover {
    cursor: pointer;
}
.product-image .photo{
    position: relative;
    background-color: #D9D9D9;
    height: 60.48vh;  
    width: 18vw;
}
.product-image .heart{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2vh;
    margin-right: 2vh;
}
.product-desc{
    padding: 1vh;
}
.product-desc div{
    font-size: 1.5vw;
    color: white;
}
.product-desc .title{
    max-width: 12vw;
    white-space: nowrap;
    /* text-overflow:clip; */
    overflow: hidden;
}
.title{
    float: left;
    color: white;
}
.price{
    float: right;
    color: white;
}
.email-signup-section {
    padding-left: 7.8vw;
    padding-right: 7.8vw;
    padding-bottom: 10vh;
    background-color: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(143,143,143,1) 50%, rgba(44,44,44,1) 100%);
}
.email-signup-section .left-side {
    float: left;
    margin-top: 2vh;
    height: 72vh;
    color: white;
}
.email-signup-section .section-title {
    font-family: 'koulon';
    font-size: 4.6vw;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    
    font-family: 'acidic';
    margin-bottom: 5vh;
}
.email-signup-section .section-subtitle {
    /* font-family: 'koulon'; */
    font-family: 'arial';
    font-size: 2.6vw;
    margin-top: 0;
    color: white;
}
.email-input-box{
    float: left;
    margin: 0 auto;
    width: 43vw;
    height: 20vh;
    border-radius: 21px;
    background-color: #D9D9D9;
    padding-left: 4vw;
    font-size: 2.3vw;
}
.email-signup-button{
    float: left;
    margin-top: 5vh;
    display: flex;
    background-color: #06094D;
    width: 16.5vw;
    height: 11vh;
    border-radius: 56px;
    font-size: 2.1vw;
    justify-content: center;
    align-items: center;
    font-family: 'koulon';
    color: white;
}
.email-signup-button:hover{
    cursor: pointer;
    background-color: #0c116f;
}
.email-signup-section .right-side {
    float: right;
    height: 72vh;
}
.email-signup-section .right-side img {
    height: 72vh;
}
.follow-section{
    padding-left: 6vw;
    padding-right: 10vw;
    padding-bottom: 15vh;
    background-color: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(143,143,143,1) 50%, rgba(44,44,44,1) 100%);
}
.follow-section .left-side{
    float: left;
    text-align: center;
}
.follow-title
{
    font-family: 'koulon';
    font-size: 6.5vw;
    color: white;

    font-family: 'acidic';
    font-size: 5.5vw;
}
.follow-subtitle{
    font-size: 3.1vw;
    color: white;
}
.follow-section .right-side{
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vh;
}
.follow-section .right-side img{
    width: 21.3vw;
    height: 21.3vw;
}
.hidden{
    display: none;
}