/* fonts */
@font-face {
    font-family: 'blackitalic';
    src: url('assets/fonts/aileron/Aileron-BlackItalic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'black';
    src: url('assets/fonts/aileron/Aileron-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thin-worms';
    src: url('assets/fonts/MB-Thin_Worms.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothicdawn';
    src: url('assets/fonts/MB-GothicDawn_Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'great-reaper';
    src: url('assets/fonts/MB-The_Great_Reaper.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tyran';
    src: url('assets/fonts/MB_TyranT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pure-evil';
    src: url('assets/fonts/puree____2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'forever';
    src: url('assets/fonts/MB-ForeverRaw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cocaine';
    src: url('assets/fonts/Cocaine_sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'punk-kid';
    src: url('assets/fonts/punk_kid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'panoptic-bold';
    src: url('assets/fonts/PanopticMonospace-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'panton-black-caps';
    src: url('assets/fonts/panton.black-caps.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* You can add global styles to this file, and also import other style files */

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #474545;
    color: #cbcbcb;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}
@media screen and(max-width: 750px){
    body{
        margin: 0;
    }
}