
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 60px;
}

.container{
    margin: 0 auto;
    margin-bottom: 30px;
}
.grid {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    width: 500px;
    height: 500px;
}

.grid .row{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.grid .row:nth-child(3n){
    border-bottom: 3px solid #000;
}
.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 33px;
}
.gray-cell{
    background-color: rgb(180, 180, 180);
    pointer-events: none; 
    cursor: not-allowed;
}
.green-cell{
    background-color: green;
    pointer-events: none; 
    cursor: not-allowed;
}
.red-cell{
    background-color: rgb(199, 48, 48);
}

.cell:nth-child(3n){
    border-right: 3px solid #000;
}

.cell input{
    border: none;
    width: 52px;
    height: 52px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.difficulty-container{
    display: flex;
    align-items: center;
    margin: auto;
}
.difficulty-container p{
    color: gray;
    font-size: 18px;
}
.difficulty-button{
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    width: auto;
    height: auto;
    font-size: 20px;
    background: none;
    color: gray;
    cursor: pointer;
}
.difficulty-button:hover{
    background-color: #d4d4c4;
}
.active-difficulty{
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    width: auto;
    height: auto;
    font-size: 20px;
    background: none;
    cursor: pointer;
    color: black;
}
.buttons-row{
    margin: 0 auto;
    margin-bottom: 20px;
}
.buttons-row button{
    margin: 0 10px;
    padding: 5px 0;
    width: 150px;
    font-size: 20px;
    color: #e0e0d1;
    border-radius: 10px;
    background-color: #4d7a5d;
}

.buttons-row button:hover{
    cursor: pointer;
    background-color: #2e4436;
}

@media screen and (max-width: 750px) {
    h1{
        margin-bottom: 40px;
    }
    .grid {
        width: 300px;
        height: 300px;
    }
    .cell input{
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
    button{
        width: 100px;
        font-size: 15px;
    }
} 
