.header{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 2%;
}
.title{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 6vw;
    font-size: 0.7vw;
}
.title img{
    width: 1.7vw;
    height: 1.3vw;
    transform: rotate(-15deg);
}
.title h1{
    margin-left: 0.3vw;
    margin-right: 1.5vw;
}
.links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -0.4vw;
}
.links a{
    font-size: 0.8vw;
    margin-left:0.8vw;
    color: white;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
    
}